/* GENERAL CSS */
/* ----------- */
*, ::before, ::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

/* NAVIGATION */
/* ---------- */
#headerBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: auto;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    transition: 0.2s cubic-bezier(.58,.83,.57,.84);
}
#headerLeft img{
    width: 48px;
}
#headerRight{
    text-align: right;
}
.navbar li{
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
}
.navbar li a{
    font-weight: 400;
    font-size: 12px;
    color: white;
    letter-spacing: 1.08px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

/* HOME */
/* ---- */
#home{
    background-image: url(../img/home_bg1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 45%;
    position: relative;
    z-index: 1;
}
#home::before{
    background-color: rgba(0, 0, 0, 0.5);
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.textIntro {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 44px;
}
.hi h1{
    letter-spacing: 2px;
    font-size: 120px;
    font-weight: 700;
    color: #ffd504;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}
.hi span {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: #fafafa;
    margin-bottom: 26px;
    text-transform: uppercase;

}
.social{
    padding-top: 25px;
}
.social li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}
.social li a, .textIntro a {
    font-size: 18px;
    width: 39px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border: 2px solid transparent;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #ffd504;
}
.social li a:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #1abc9c;
    z-index: -1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
}
.social li a:focus, .social li a:hover,.textIntro a:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0 0 12px rgba(255,255,255,.6);
    -moz-box-shadow: 0 0 12px rgba(255,255,255,.6);
    box-shadow: 0 0 12px rgba(255,255,255,.6);
}
.social li a:focus:before, .social li a:hover:before {
    border-color: #fff;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.textIntro a{
    margin-top: 20px;
    font-size: 25px;
}

/* ABOUT */
/* ----- */
#about{
    overflow: auto;
    width: 100%;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 100px;
}
.sectionTitle span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #777;
}
.sectionTitle h1{
    margin-top: 25px;
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;

}
#bio{
    float: left;
    width: 50%;
}
#bio p {
    font-size: 16px;
    line-height: 32px;
    font-family: "Lora", serif;
    color: #222;
    letter-spacing: 0.9px;
    font-weight: 500;
}
#skills{
    float: left;
    width: 48%;
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 90px;
}
.progress {
    height: 6px;
    overflow: hidden;
    background-color: #eee;
    margin-bottom: 35px;
}
#skills h5 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
}
#skills h5 span {
    float: right;
}
.progress-bar {
    float: left;
    height: 100%;
    background-color: #ffd504;
}

/* RESUME */
#resume{
    background-color: #f7f7f7;
    overflow: auto;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
.resume-line {
    margin-bottom: 70px;
}
.resume-left, .resume-right{
    float: left;
} 
.resume-left {
    text-align: right;
    padding-right: 130px;
}
.resume-line h3 {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0px;
}
.resume-right p {
    font-size: 16px;
    line-height: 32px;
    font-family: "Lora", serif;
    color: #222;
}
.resume-right:before {
    background-color: #ffd504;
    opacity: .5;
    content: '';
    height: calc(100% + 54px);
    width: 1px;
    position: absolute;
    left: -67px;
    top: 16px;
}
.resume-right h3:before {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    border: 2px solid #ffd504;
    background-color: transparent;
    left: -75px;
    content: '';
}
.resume-right h3:before {
    border: 2px solid;
}

/* PORTFOLIO */


/* CONTACT */
#contact{
    background-color: #f7f7f7;
}